# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather = "../output_data/weather_data.csv"
weather_data = pd.read_csv(weather)
weather_data

,Unnamed: 0,City,Temperatures (F),Latitude,Longitude,Humidity %,Wind (mph),Cloudiness
0,0,kruisfontein,62.01,-34.0033,24.7314,86,1.01,54
1,1,khatanga,-27.20,71.9667,102.5000,80,12.59,13
2,2,new norfolk,58.37,-42.7826,147.0587,64,1.99,100
3,3,rampura,57.15,30.2500,75.2333,49,1.97,0
4,4,tullamore,34.50,53.2739,-7.4889,69,7.00,28
...,...,...,...,...,...,...,...,...
562,562,norfolk,27.07,42.1668,-71.2495,86,9.22,96
563,563,veriora,14.00,58.0079,27.3551,85,5.75,90
564,564,luganville,85.95,-15.5333,167.1667,54,4.54,4
565,565,llanes,53.01,43.4198,-4.7549,68,5.01,100
566,566,gornopravdinsk,0.03,60.0500,69.9000,91,11.16,100

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [ ]:
locations = weather_data[['Latitude', 'Longitude']]
humidity = weather_data['Humidity %']
gmaps.configure(api_key=g_key)
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params=

In [ ]:
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure